<div class="sidebar-menu">
    <header class="logo1">
     
    </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
           <div class="menu">
                    <ul id="menu" >
                        <li><a href="/adminhome"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
                        <li id="menu-academico" ><a href="/createuser"><i class="fa fa-file-text-o"></i> <span>Create Users</span></a></li>
                        <li id="menu-academico" ><a href="/allusers"><i class="fa fa-file-text-o"></i> <span>All Users</span></a></li>
                         <li><a href="#"><i class="lnr lnr-chart-bars"></i> <span>Stocks Information</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                          <ul class="stocks-subitems">
                            <li><a href="/additems">Add Stocks</a></li>
                            <li><a href="/allstocks">All Stocks</a></li>
                            <li><a href="/purchases">All Purchases</a></li>
                            <li><a href="/admindailysales">View Daily Sales</a></li>
                        </ul>
                        </li>
                    <!-- <li id="menu-academico" ><a href="/purchases"><i class="fa fa-file-text-o"></i> <span>All Purchases</span></a></li>
                    <li id="menu-academico" ><a href="/admindailysales"><i class="fa fa-file-text-o"></i> <span>View Daily Sales</span></a></li> -->
                    <li id="menu-academico" ><a href="/adminsupplier"><i class="lnr lnr-book"></i> <span>Add Suppliers Information</span></a></li>
                     <li><a href="allsuppliersadmin"><i class="lnr lnr-envelope"></i> <span>View All Suppliers</span></a></li>
                    <li><a href="/adminsearch"><i class="lnr lnr-chart-bars"></i> <span>Search to Print receipt</span></a></li>
                    <li id="menu-academico" ><a href="/alldebtors"><i class="lnr lnr-layers"></i> <span>All Debtors</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                       
                     </li>
                    <li><a href="#"><i class="lnr lnr-chart-bars"></i> <span>Account</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                      <ul>
                        <li><a href="/accounteditinfo<%=id%>">Edit Account Information</a></li>
                        <li><a href="/adminchangepassword<%=id%>">Change Password</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    </li>
                  </ul>
                </div>
              </div>