<body>
    <div class="page-container">
    <!--/content-inner-->
     <div class="left-content">
        <div class="inner-content">
         <!-- header-starts -->
             <div class="header-section">
             <!-- top_bg -->
                         <div class="top_bg">
                             
                                 <div class="header_top">
                                     <div class="top_right">
                                         <ul>
                                            <h4 style="font-family: 'Francois One', sans-serif;margin-top: 50px;">WATCH INVENTORY SYSTEM</h4>
                                          
                                        </ul>
                                     </div>
                                     <div class="top_left">
                                         
                                     </div>
                                     
 
                                         <div class="profile_details">		
                                             <ul>
                                                 <li class="dropdown profile_details_drop">
                                                     <a href="#" class="dropdown-tggle" data-toggle="dropdown" aria-expanded="false">
                                                         <div class="profile_img">	
                                                         <img src="<%=image%>" id="image-pro" class="rounded-circle" width="50"/>
                                                              <div class="user-name">
                                                                 <p ><span id="ad" style="color:white;"> <br><%=firstname%>&nbsp;<%=lastname%></span></p>
                                                                 <!-- <div id="firstname"><%=firstname%></div> -->
                                                              </div>
                                                              <!-- <i class="fa fa-chevron-down" id="down"></i>
                                                              <i class="fa fa-chevron-top" id="down"></i> -->
                                                             <div class="clearfix"></div>	
                                                         </div>	
                                                     </a>
                                                     <ul class="dropdown-menu drp-mnu">
                                                        
                                                         <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                                     </ul>
                                                 </li>
                                             
                                             </ul>
                                         </div>	
                                 </div>
                             
                         </div>
                     <div class="clearfix"></div>
                 <!-- /top_bg -->
                 </div>
                 <div class="header_bg">
                         
                             <div class="header">
                                 <div class="head-t">
                                     <div class="logo">
                                        <marquee width="100%" direction="left" height="20px" style="color: brown;">
                                          Record stocks,purchases,credit sales and more...
                                            </marquee>
                                     </div>
                                         <!-- start header_right -->
                                     <div class="header_right">
                                         <div class="rgt-bottom">
                                             <div class="log">
                                                 
                                             </div>
                                             
                                 
                                         <div class="clearfix"> </div>
                                     </div>
                                     
                                     <div class="clearfix"> </div>
                                 </div>
                                 <div class="clearfix"> </div>
                             </div>
                         </div>
                     
                 </div>
