


<div class="search" style=" position: relative;
background: #f3f4f5;
border: 1px solid hsl(0, 0%, 85%);
width: 400px;
position: relative;
left: 350px;
top: -30px;">
    <form action="/allusers" method="POST">
        <input type="text" value="" placeholder="search users using their username" name="search" style="text-transform: none;">
        <input type="submit" value="">
    </form>
</div>