
<%- include('../partials/header'); %>


<body>
	<%- include('../partials/admin_mini_body'); %>
				
				<!--content-->
			<div class="content">
<div class="women_main">
	<!-- start content -->
<div class="registration">
		<div class="registration_left">
	<div class="col-sm-12" style="position: relative;left: 250px;">
		<% if(serverError){%>
			<p style="color: crimson;text-align: center;"><%= serverError%></p>
		  <%}%>
		<h2 style="font-weight: 500;text-align: center;">Existing User?</h2>
		<p style="color: red;"></p>
		 <div class="registration_form">
		 <!-- Form -->
			<form action="userlogin" method="POST" name="">
				<div>
					<label>
						<input placeholder="name:" type="text" tabindex="3" required="" name="username" style="text-transform: none;">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" type="password" tabindex="4" required="" name="password">
					</label>
				</div>						
				<div>
					<input type="submit" value="sign in"><a href="/admin" style="margin-left: 20px;position: relative;bottom: -10px;"><span style="color: #b52e31;">Login As Admin?</span></a>
				</div>
				<div class="forget">
					<a href="/forgotuserpassword" style="color: #b52e31;">forgot your user password?</a>
				</div>
			</form>
			<!-- /Form -->
			</div>
	</div>
	




	
	</div>

	


	
<div class="footer">
				
					<div class="clearfix"> </div>
						
			</div>
</div>
</div>
	<!--content-->
		</div>
</div>
				<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="/signupandsignin"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
										 <li id="menu-academico" ><a href="/signupandsignin"><i class="fa fa-table"></i> <span> SignUp</span>
										
										</li>
										 <li id="menu-academico" ><a href="/signupandsignin"><i class="fa fa-file-text-o"></i> <span>Signin</span></a></li>
									<li><a href="/forgotadminpassword"><i class="lnr lnr-pencil"></i> <span>Forgot Password?</span></a></li>
									<li id="menu-academico" ><a href="/admin"><i class="fa fa-file-text-o"></i> <span>Login As Admin</span></a></li>
									
						
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>	
							</div>
							
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
   <!-- /Bootstrap Core JavaScript -->
   <!-- real-time -->
>
		   <script src="js/menu_jquery.js"></script>
		   <script>
			function validateForm() {
				var x = document.forms["myForm"]["image"].value;
				if (x == "") {
				  alert("Please select a File");
				  return false;
				}
				else{
					
				}
			  }
				  </script>
</body>
</html>
